.navbar {
    background-color: rgb(104, 95, 95);
}

.tc {
    color: white;
}

.ms {
    text-align: center;
}

.bl {
    background-color: rgb(104, 95, 95);
    color: white;
}

.list-group-item {
    align-self: center;
    width: 500px;
}

.ct {
    text-align: center;
}

body {
    background-color: rgb(157, 143, 143);
}

.tl {
    color: white;
}
.lr{
    background-color: rgb(104, 95, 95);
}