.navbar {
    background-color: rgb(104, 95, 95);
}

.nav-link {
    color: white;
}

.tl {
    color: white;
}

body {
    background-color: rgb(157, 143, 143);
}
.card{
    color: white;
    text-align: center;
    background-color: rgb(104, 95, 95);


}
img{
    height: 200px;
    width: 100%;
}